.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  color: var(--textcolor);

  img {
    height: 45px;
    flex-direction: row;
  }

  &-search {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-input {
    padding-left: 16px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(-225deg, #e45c01 0%, #f78502 48%, #f79b45 100%);
    color: var(--textcolor);
  }
}

.main-input::placeholder {
  color: var(--textcolor);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-text {
    margin-bottom: 32px;
    text-align: center;
  }
}

.headerpic {
  margin-bottom: 32px;
  margin-right: 12px;
}

.form-class {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

// checkbox

.checkbox-circ {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 29px;
  margin-left: 50px;
  transform: translate(-50%, -50%);
}

input[type='checkbox'] {
  width: 40px;
  height: 21px;
  -webkit-appearance: none;
  outline: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type='checkbox'] {
  background: #252525b5;
}

input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type='checkbox']:before {
  left: 20px;
}

.change-text {
  display: none;
}

.settings-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 830px) {
  .container-text {
    font-size: 36px;
  }
  .headerpic {
    height: 36px;
  }
  .form-class {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .change-text {
    display: flex;
  }
}

@media (max-width: 630px) {
  .container-text {
    font-size: 20px;
  }
  .headerpic {
    height: 20px;
  }
}
